@font-face {
    font-family: 'Gurajada';
    src: url('../vendor/Fonts/Gurajada/Gurajada-Regular.ttf') format('truetype');
  }
  
  * {
    font-family: 'Gurajada';
    font-size: 125%;
  }
  body{
    background-color: #fdffd5; 
    color: #4f5033;
  }

  h1, h2, h3, h4, h5, h6{
    color: #ab5831!important;
  }
.logo{
    max-height: 60px;
}
.btn-custom {
    color: #212529;
    background-color: #d7da94;
    border-color: #d7da94;
    clip-path: polygon(7% 0, 93% 0, 100% 50%, 93% 100%, 7% 100%, 0 50%);
  }
  
  .btn-custom:hover {
    color: #212529;
    background-color: #c8cb7f;
    border-color: #c8cb7f;
  }
  
  .btn-custom:focus, .btn-custom.focus {
    box-shadow: 0 0 0 0.25rem rgba(215, 218, 148, 0.5);
  }
  
  .btn-custom.disabled, .btn-custom:disabled {
    color: #212529;
    background-color: #d7da94;
    border-color: #d7da94;
  }
  
  .btn-custom:not(:disabled):not(.disabled):active, .btn-custom:not(:disabled):not(.disabled).active,
  .show>.btn-custom.dropdown-toggle {
    color: #212529;
    background-color: #c8cb7f;
    border-color: #c1c47a;
  }
  #c1 {
    animation-duration: 2s;

  }
  #c2 {

    background-color: #f5fa8d!important;

    animation-delay: 1s;
    animation-duration: 2s;

  }
  #c4 {

    /* background-color: #d7da94!important; */
    animation-delay: 3s;
    animation-duration: 4s;
  }
  #c3 {
    animation-delay: 2s;
    animation-duration: 3s;

  } #c5 {
    animation-duration: 5s;
    animation-delay: 4s;
  }

  #c2c2{
    border: solid;
    margin-bottom: 50px;
  }
  #c2c1{
    border: solid;
    margin-bottom: 50px;
  }

  #c3c{
    border: solid;
    margin-bottom: 50px;
  }

  #c4c2{
    /* border: solid; */
    margin-bottom: 50px;
  }
  #c4c1{
    /* border: solid; */
    margin-bottom: 50px;
  }
  #c5c2{
    border: solid;
    margin-bottom: 50px;
  }
  #c5c1{
    border: solid;
    margin-bottom: 50px;
  }
  .textbox{
    background-image: url(../img/Roadmap-bg.png);
    background-size: 100% 100%;
    background-position: center;
  }