@font-face {
  font-family: 'Gurajada';
  src: url('../vendor/Fonts/Gurajada/Gurajada-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Sigmar';
  src: url('../vendor/Fonts/Sigmar/Sigmar-Regular.ttf') format('truetype');
}

html {
  scroll-behavior: smooth;
  scroll-padding: 0px;
}

body {
  width: 90%;
  margin: 0 auto;
  position: relative;
  max-width: 1350px;
  background-color: #fdffd5;
  color: #4f5033;
}

span {
  color: #4f5033;
}
h1{
  font-size: 3rem;
}
h2{
  font-size: 3rem;
}
h1,h2,h3,h4,h5,h6,ul {
  color: #ab5831 !important;
}
h1,h2,h3,h4,h5,h6 {
  font-family: 'Sigmar';
}

p, ul {
  font-family: 'Gurajada';
  font-size: 2.5rem;
}

a {
  font-family: 'Gurajada' !important;
  display: flex;
  justify-content: center;
  align-items: center;
}
a.btnside {
  font-size: 200% !important;
}
a.btnnavicon {
  font-size: 150% !important;
  line-height: 5px;
  
}
a:not(.btnside):not(.btnsideicon):not(.btnnavicon){
  font-size: 110% !important;
}

.navbar-toggler-icon {
  font-size: 70%;
}

.offcanvas {
  background-color: #fdffd5;
  line-height: 25px;
  max-height: 100vh;
}

.offcanvas a {
  font-size: 80%;
}

.logo {
  max-height: 60px;
}

.btn-custom {
  color: #212529;
  background: url(../img/btn_st1.png);
  background-size: 100% 100%;
  background-position: center;
  background-repeat: no-repeat;
  transition: 0.3s;
  /* clip-path: polygon(7% 0, 93% 0, 100% 50%, 93% 100%, 7% 100%, 0 50%); */
}

.btn-custom:hover {
  color: #212529;
  background: url(../img/btn_st2.png);
  background-size: 100% 100%;
  background-position: center;
  background-repeat: no-repeat;
  animation-duration: 1s;
}

.btn-custom:focus,
.btn-custom.focus {
  box-shadow: 0 0 0 0.25rem rgba(215, 218, 148, 0.5);
}

.btn-custom.disabled,
.btn-custom:disabled {
  color: #212529;
  background-color: #d7da94;
  border-color: #d7da94;
}

.btn-custom:not(:disabled):not(.disabled):active,
.btn-custom:not(:disabled):not(.disabled).active,
.show>.btn-custom.dropdown-toggle {
  color: #212529;
  border-color: #c2c47a00;
}
.fixed-bottom {
  right: 20px!important;
  bottom: 20px!important;
}
#btntop {
  bottom: 20px; /* Place the button at the bottom of the page */
  right: 30px; /* Place the button 30px from the right */
  z-index: 99; /* Make sure it does not overlap */
  border: none; /* Remove borders */
  outline: none; /* Remove outline */
  background: url(../img/btn_st1.png);
  background-size: 100% 100%;
  background-position: center;
  background-repeat: no-repeat;
  color: white; /* Text color */
  cursor: pointer; /* Add a mouse pointer on hover */
  padding: 15px; /* Some padding */
  border-radius: 10px; /* Rounded corners */
  font-size: 18px; /* Increase font size */
}

#btntop:hover {
  background: url(../img/btn_st2.png);
  background-size: 100% 100%;
  background-position: center;
  background-repeat: no-repeat;
  animation-duration: 1s;
}

#c1 {
  animation-duration: 2s;

}

#c2 {
  animation-delay: 1s;
  animation-duration: 2s;

}

#c4 {
  animation-delay: 3s;
  animation-duration: 4s;
}

#c3 {
  animation-delay: 2s;
  animation-duration: 3s;

}

#c5 {
  animation-duration: 5s;
  animation-delay: 4s;
}

#c2c2 {
  margin-bottom: 50px;
}

#c2c1 {
  margin-bottom: 50px;
}

#c3c {
  margin-bottom: 50px;
}

#c4c2 {
  margin-bottom: 50px;
}

#c4c1 {
  margin-bottom: 50px;
}

#c5c2 {
  margin-bottom: 50px;
}

#c5c1 {
  margin-bottom: 50px;
}

.roadmap-bg {
  background-image: url(../img/Roadmap-bg.png);
  background-size: 100% 100%;
  background-position: center;
}

.tokenomics-bg {
  background-image: url(../img/Tokenomics-bg.png);
  background-size: 100% 100%;
  background-position: center;
}

.textbox {
  line-height: 25px;
}

.textbox-2 {
  line-height: 30px;
}

.textbox-3 {
  line-height: 35px;
}

.cex {
  color: #1b1c0a !important;
}

.liquidity {
  color: #dedd8c !important;
}

.presale {
  color: #535233 !important;
}

.enf-color {
  color: #ab5831 !important;
}

.separador {
  border-bottom: 1px solid #ab5831;
}

.sponsor {
  height: 75px;
  margin-bottom: 1em;
}

.team {
  max-width: 500px;
}

.icono-t {
  line-height: 100%;
}

@media (min-width: 992px) {
  .coin {
    height: 50%;
  }
}

@media (min-width: 576px) {

  .container,
  .container-sm {
    max-width: 100%;
  }
}

@media (min-width: 768px) {

  .container,
  .container-md,
  .container-sm {
    max-width: 100%;
  }
}